.header{
	width: 100%;
	background:#fff;
	/*background-image: url('../img/footer_lodyas.png');*/
	position: fixed;
	z-index: 1000;
	border-bottom: 2px solid #000;
}

.h-box{
	width: 900px;
	margin:0 auto;
	position: relative;
}

.h-box img{	
	/*width: 100%;*/
	padding: 10px;
}

.h-box img:hover{
	cursor: pointer;
}

.container-img{
	width:30%; 
	float:left;
	text-align: center;
}

.menu{
	width:70%; 
	float: left;
	margin-top: 38px;
}

.ancla{
	width:50px;
	height:50px; 
	position:absolute;    
	left: 0;
	bottom: 74px;
	display:hidden
}

ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;	
    float: left;
}

li a{
	list-style-type:none;
	display: inline;
	width: 33%;
	float: left;
	text-align: center;
	color:#000;
	font-weight: 600;
}

li a:hover{
	cursor:pointer;
	color:#fff;
	background: black;
}

.menu-text{
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 24px;
}

.container-box{
	width: 1000px;
	height: 75px;
	margin:0 auto;
	margin-top: 30px;
	font-size:50px;
	color:#fff;
	text-align: center;
	margin-bottom: 30px;
}

.titulo_1{
	/*background-color: black;*/
	background-image: url('../img/footer_lodyas.png');
	font-size:40px;
	color:#fff;
	text-align: center;
	padding: 20px;
}

.text{
	width: 40%;
	/*float: left;*/
	margin:0 auto;
	font-size:25px;
	padding: 10px;
	margin-bottom: 10px;
}

.titulo{
	color: #3d3c3d;
}

.box1{
	margin-top: 70px;
	width: 100%;
	float: left;
	/*background-image: url("../img/weather.png");*/
	/*height: 450px;*/
	position: relative;
}

.box1 img{
	width: 100%;
	margin-top:33px;	
}

.box2{
	width: 100%;
	float: left;
	/*height: 500px;*/
	background:#2fc0a9;
}

.box3{
	width: 100%;
	float: left;
	height: 600px;
	background:#fff;
	color:#3d3c3d;
}

.box4{
	width: 100%;
	float: left;
	/*height: 600px;*/
	/*background:#0BAB95;*/
}

.box5{
	width: 100%;
	float: left;
	/*height: 500px;*/
}

.footer-sub{
	width: 100%;
	height: 100px;
	float:left;
	background-color:#363536;
}

.footer{
	width: 100%;
	height: 300px;
	float:left;
	background-color: #3d3c3d;
}

label{
	color:#fff;
}

.enviar{
	margin-top: 20px;
}

.renglon{
	margin-bottom: 20px;
}



/* sin slide */
.g-bloque{
	width: 25%;
	float: left;
	background-color: black;
	position: relative;
}
.g-bloque img{
	width: 100%;
}

.shadow{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*display: none;*/
}
.shadow-text{
    width: 100%;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 25px;
    margin-top: 50%;
}
.box-contacto{
	font-size: 25px;
	padding: 40px;
}
.contacto_col_2{
	padding:40px;
}