.header{
	width: 100%;
	background:#2fc0a9;
	position: fixed;
	height: 80px;
	border-bottom:3px solid #fff;
	z-index: 1000;
}

/*.container{
	background: #2fc0a9;
	width: 900px;
	height: 75px;
	margin:0 auto; 
}*/

.container-box{
	width: 1000px;
	height: 75px;
	margin:0 auto;
	margin-top: 30px;
	font-size:50px;
	color:#fff;
	text-align: center;
	margin-bottom: 30px;
}

.titulo{
	color: #3d3c3d;
}

body{
	padding: 0px;
	margin: 0px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box1{
	margin-top: 70px;
	width: 100%;
	float: left;
	background: #fff;

}

.box1 img{
	width: 100%;
}

.box2{
	width: 100%;
	float: left;
	height: 500px;
	background:#2fc0a9;
}

.box3{
	width: 100%;
	float: left;
	height: 600px;
	background:#fff;
	color:#3d3c3d;
}

.box4{
	width: 100%;
	float: left;
	height: 600px;
	background:#0BAB95;
}

.footer-sub{
	width: 100%;
	height: 100px;
	float:left;
	background-color:#363536;
}

.footer{
	width: 100%;
	height: 300px;
	float:left;
	background-color: #3d3c3d;
}

label{
	color:#fff;
}

.enviar{
	margin-top: 20px;
}

.renglon{
	margin-bottom: 20px;
}